<ion-header>
  <ion-toolbar>
    <ion-title>
      Conversor de Moeda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Moeda Base</ion-label>
    <ion-select [(ngModel)]="baseCurrency">
      <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Moeda Alvo</ion-label>
    <ion-select [(ngModel)]="targetCurrency">
      <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Valor</ion-label>
    <ion-input type="number" [(ngModel)]="amount" (ngModelChange)="updateConversion()"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="convert()">Converter</ion-button>

  <ion-card *ngIf="convertedAmount !== null">
    <ion-card-header>
      <ion-card-title>Resultado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ amount }} {{ baseCurrency }} = {{ convertedAmount | number:'1.2-2' }} {{ targetCurrency }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
